<%- include('./partials/header') -%>
<div class="container">
    <h1 align="center" class="mt-5">Registered User</h1>
    <div class="accordion" id="accordionExample">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Collapsible Group Item #1
                            </button>
                        </h2>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <button class="btn btn-secondary col-md-12" >Verify</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Collapsible Group Item #1
                            </button>
                        </h2>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <button class="btn btn-secondary col-md-12" >Verify</button>
            </div>
        </div>
    </div>
    <h1 align="center" class="p-5">Upload Documents for OCR</h1>
    <div class="row">
        <div class="col-md-6">
            <form id="uploadForm" enctype="multipart/form-data" action="/admin/scan" method="post">
                <input type="file" name="userPhoto" class="form-control"/><br>
                <input type="submit" value="Upload File" name="submit" class="btn btn-secondary">
                <span id = "status"></span>
           </form>
        </div>
        <div class="col-md-6">
            <form id="submit data" enctype="multipart/form-data" action="/admin/docs" method="post">
                <input type="text" name="path" id="path" class="form-control" readonly="true" hidden/><br>
                <input type="text" name="name" id="name" class="form-control"/><br>
                <input type="text" name="regno" id="regno" class="form-control"/><br>
                <input type="text" name="address" id="address" class="form-control"/><br>
                <input type="submit" value="Confirm" name="submit" class="btn btn-secondary">
                
            </form>
        </div>
    </div>
</div>
<%- include('./partials/footer') -%>
<script>
    $(document).ready(function() {
    
        $('#uploadForm').submit(function() {
            $("#status").empty().text("File is uploading...");
            $(this).ajaxSubmit({
    
            error: function(xhr) {
                status('Error: ' + xhr.status);
            },
    
            success: function(response) {
                $("#status").empty().text('File uploaded');
                console.log(response);
                var textArray = response.text.replace('\\n'," ").split(" ");
                console.log(textArray);
                $('#path').val(response.path);
                $('#name').val(textArray[2]);
                $('#regno').val(textArray[6]);
                $('#address').val(textArray[9]);

            }
        });
        //Very important line, it disable the page refresh.
        return false;
        });    
    });
</script>    