<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Main Page User</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="stylesheets/stylesMain.css">
</head>
<body>
        <h1 align="center">Main Page</h1>

        <table cellspacing="10">
                <tr>
                    <td>
                            <div class="card" >
                                    <div class="heading" align="center"> 
                                        <h1>Add Document</h1>      
                                    </div>
                                        <div class="container">
                                                <form action="/action_page.php">
                                                    Name : <br>
                                                    <input type="text" name="firstname" ><br>
                                                    Type of Document : <br>
                                                    <input type="text" name="lastname"><br><br>
                                                    Upload File : <br>
                                                    <input type="file">
                                                    <input type="file">
                                                    <input type="file">
                                                    <br><br>
                                                    <button class="button">Submit</button>
                                                    <button class="button button1">Reset Details</button>
                            
                                                </form> 
                                        </div>
                                      </div>
                    </td>
                    <td>
                            <div class="card" >
                                    <!-- <div class="heading" align="center">
                                            <h1>View Past Uploads</h1>
                                    </div>
                                    <img src="image.jpg" alt="Image" border ="1px" width="300px" height="200px">
                                      </div> -->
                                      <div class="accordion" id="accordionExample">
                                            <div class="">
                                              <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Applied Process Status
                                                </button>
                                                </h5>
                                              </div>
                                          
                                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                        <div class="progress">
                                                                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                              </div>       
                                                </div>
                                              </div>
                                            </div>
                                            
                                          
                    </td>
                </tr>
            </table>
    
        </body>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </html>