<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styleRegister.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">DMTS</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 offset-md-10">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="card">
        <h1 align="center">New Register</h1>

        <form action="/action_page.php">
        Email ID : <br>
        <input type="email" name="emailid" ><br>
        Password : <br>
        <input type="password" name="pass"><br>
        Confirm Password : <br>
        <input type="password" name="confirmpass"><br>
        Enter Data of Birth : <br>
        <input type="date" name="date"><br>
        Enter Address : <br>
        <input type="text" name="addres"><br>
        Enter Adhar Number : <br>
        <input type="text" name="adhar"><br>
        <a href="/" class="button">Submit</a>
    </form>
    </div>   
</body>
</html>